:root {
    --main-bg-color: #181a1b;
    --main-text-color: #ffffff;
    font-size: 2.5vw;
}

html {
    color-scheme: dark;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.box {
    border-radius: 10px;
    border: 0.1rem solid #ffffff;
}

#header-container {
    display: flex;
}

#header-wrapper {
    border: 0.1rem solid #ffffff;
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#name-wrapper {
    flex: 1;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
}

#header-wrapper h1 {
    color: var(--main-text-color);
    font-size: 2rem;
    text-align: center;
}

#center-wrapper {
    flex: 1;
    margin: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#setting-wrapper {
    padding: 0.5rem;
    gap: 0.25rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* Toggle temperature button styling */
#temperature-button {
    position: relative;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-text-color);
    background: rgb(36, 0, 0);
    background: linear-gradient(
        135deg,
        rgba(36, 0, 0, 1) 0%,
        rgba(121, 9, 9, 1) 35%,
        rgba(255, 0, 0, 1) 100%
    );
    transition: transform 0.2s ease;
    z-index: 1;
}

#temperature-button::before {
    border-radius: 20px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        -135deg,
        rgba(36, 0, 0, 1) 0%,
        rgba(121, 9, 9, 1) 35%,
        rgba(255, 0, 0, 1) 100%
    );
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

#temperature-button:hover {
    transform: scale(1.02);
}

#temperature-button:active {
    transform: scale(0.95);
}

#temperature-button:hover::before {
    opacity: 1;
}

/* Toggle humidity button styling */
#humidity-button {
    position: relative;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--main-text-color);
    background: rgb(2, 0, 36);
    background-image: linear-gradient(
        135deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    transition: transform 0.2s ease;
    z-index: 1;
}

#humidity-button::before {
    border-radius: 20px;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        -135deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

#humidity-button:hover {
    transform: scale(1.02);
}

#humidity-button:active {
    transform: scale(0.95);
}

#humidity-button:hover::before {
    opacity: 1;
}

/* Date selector styling */
#date-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 15px;
}

#measurement-wrapper {
    overflow: scroll;
    flex: 1;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: auto;
    min-height: 0;
    background-image: url("https://images.hdqwalls.com/wallpapers/clouds-summer-weather-5k-1b.jpg");
    background-size: cover;
}

#current-measurement {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    padding-right: 0.5rem;
}

#current-time {
    font-weight: lighter !important;
    text-align: center;
    font-family: system-ui !important;
    flex: 1;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
}

#current-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 4;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
}

#current-wrapper div {
    flex: 1;
}

#current-measurement div {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    padding: 0.2rem;
    font-family: arial;
}

#measurement-wrapper {
    gap: 15px;
}

#measurement-container {
    overflow: hidden;
    height: 100% - 0.1rem;
    padding: 0.2rem;
}

#measurement-graph {
    backdrop-filter: blur(20px);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 600px) {
    #header-wrapper h1 {
        font-size: 2rem;
    }

    #header-wrapper h2 {
        font-size: 1.5rem;
    }

    #setting-wrapper {
        flex: 0.25;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    #date-input {
        order: -1;
        grid-column: 1 / -1;
    }

    #center-wrapper {
        flex-direction: row;
    }

    #measurement-wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto;
        gap: 50px;
    }

    #current-measurement {
        flex-direction: column;
    }

    #setting-wrapper button,
    input {
        font-size: 0.5rem;
    }

    #temperature-button {
        box-shadow: 3px 4px 6px rgba(255, 0, 0, 0.5);
    }

    #humidity-button {
        box-shadow: 3px 4px 6px rgba(0, 0, 255, 0.5);
    }

    #current-wrapper {
        flex-direction: column;
    }
}
